# Enviroment
NODE_ENV=

#  API
APP_PORT=
APP_NAME=
APP_HOST=

# Database - MongoDB
MONGO_DB_NAME=
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
MONGO_URI=

# Nodemailer
EMAIL_USER=
EMAIL_PASSWORD=

# Security
BCRYPT_SALT_ROUNDS=

# JWT Authentication
JWT_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=

# User Service
USER_SERVICE_URL=